body{
   position: absolute;
   font-family: 'Roboto';
   width: 1280px;
   height: 72px;
   margin-left: 98px;
}
/**********************************/
.header-title{
   color: #000000;
   font-size: 80px;
   line-height: 94px;
   width: 334px;  
   height: 79px;
   display: flex;
   align-items: flex-end;
   margin-top: 63px;
}
.coloured{
   color: #4BCAFF;
}
.menu {
   display: flex;
   align-items: center;
   flex-direction: row; 
   justify-content: center;
   background-color: #35444F;
   height: 72px;
   margin-top: 38px;
}
.menu-button{
   display: flex;
   border-left: 1px solid white;
   border-right: 1px solid white;
   height: 72px;
   align-items: center;
}
 .menu a{
   text-decoration: none;
   color: white;
   font-size: 24px;
   line-height: 28.13px;
   padding: 0 30px;
}
.menu-button:hover {
   background-color: #222F3A;
   height: 72px;
}
/***********************************/
.aside{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: flex-start;
   height: 529px;
   margin-top: 48px;
}
.box-1{
   display: flex;
   box-sizing: border-box;
   border: 1px solid #000000;
   width: 344px;
   height: 399px;
   align-items: center;
   justify-content:center;
   flex-direction:column;
}
.info a{
   color: #35444F;
   font-size: 27px;
   line-height: 27px;
   text-decoration: none;
}
.item{
   padding: 30px 0;
   width: 344px;
   
}
.item:hover {
   background-color: #DBDBDB;
   height: 27px;
   color: #000000;
}
.box-2{
   box-sizing: border-box;
   display: flex;
   align-items: center; 
   flex-direction: row; 
   justify-content: center; 
   border: 1px solid #000000;
   width: 855px;
   height: 529px;
}
.img{
   box-sizing: border-box;
   background-image: url('../img/top1-img 1.png');
   width: 320px;
   height: 381px;
}
.img:hover {
   transform: scale(1.2)
}
/*********************************/
.main {
   display: flex;
   justify-content:right;
}
.main-text{
   box-sizing: border-box;
   width: 855px;
   margin: 37px 0 54px 0;
   color: #2C2C2C;
   font-size: 18px;
   line-height: 24px;
}
/***********************************/
.footer{
   display: flex;
   background-color: #63696E7A;
   align-items: center;
   justify-content: space-between;


}

.footer-list{
   display: flex;
   align-items: center;
   flex-direction: row; 
   height: 69px;

}
.list-item{
   display: flex;
   align-items: center;
   height: 69px;
   padding-left: 40px;
}
.footer-list a{
   color: #000000;
   font-size: 28px;
   line-height: 28px;
   text-decoration: none;
}
.list-item:hover {
   color: #3181A6;
   height: 72px;
}
.copyr {
   color: #000000;
   font-size: 24px;
   line-height: 24px;
   padding-right: 40px;
}


